<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hackathon Management</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
  <h1>  Ignitron 2k25 - Code Rush  </h1>
  <div class="container">
    <a href="/register" class="btn">Register Team</a>
    <a href="/dashboard" class="btn">Coordinator Dashboard</a>
    <a href="/admin" class="btn">Admin View</a>
  </div>
</body>
</html>
